body {
    background-color:#1a1a2e;
    font-family:Arial, Helvetica, sans-serif;
}
a {
    text-decoration:none;
    color:blue;
}
a:hover {
    color:purple;
}
.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:110;
    height:80;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    height:2px;
    margin-left:3px;
    float:left;
}
.first-row {
    width:100%;
    float:left;
}
.game-horizontal img{
    width:388px ;
    height:216px;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left;
}
.game-horizontal {
    margin-top:2px;
}
.game-horizontal img:hover {
    width:390px;
    height:218px;
    float:left;
    overflow:hidden;
}
.footer {
    margin-top:10px;
    color:white;
}
