.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:20%;
    height:100%;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    float:right;
}
.game-horizontal img{
    width:25px;
    height:20px;
    border-radius:8px;
}
