body {
    background-color:#1a1a2e;
}
.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:110;
    height:80;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    height:2px;
    margin-left:3px;
    float:left;
}
.first-row {
    width:100%;
    float:left;
}
.game-horizontal img{
    width:388px ;
    height:216px;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left;
}
.game-horizontal {
    margin-top:2px;
}
.game-horizontal img:hover {
    width:390px;
    height:218px;
    float:left;
}
.footer {
    width:100%;
    height:auto;
    color:#01014d;
    border-radius:15px; 
}