body {
    background-color:#1a1a2e;
    font-family:Arial, Helvetica, sans-serif;
}
a {
    text-decoration:none;
    color:blue;
}
a:hover {
    color:purple;
}
.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:110;
    height:80;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    height:2px;
    margin-left:3px;
    float:left;
}
.first-row {
    width:100%;
    float:left;
}
.game-horizontal img{
    width:388px ;
    height:216px;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left;
}
.game-horizontal {
    margin-top:2px;
}
.game-horizontal img:hover {
    width:390px;
    height:218px;
    float:left;
    overflow:hidden;
}
.game-horizontal-last img{
    width:388px ;
    height:216px;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left;
    margin-bottom:20;
}
.game-horizontal-last {
    margin-top:2px;
}
.game-horizontal-last img:hover {
    width:390px;
    height:218px;
    float:left;
    overflow:hidden;
}
.game-horizontal-408x408 img{
    width:408px ;
    height:408px;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left; 
}
.game-horizontal-408x408 {
    margin-top:2px;
}
.game-horizontal-408x408 img:hover {
    width:410px;
    height:410px;
    float:left;
    overflow:hidden;
}
.description p {
    color:white;
}
.description {
    background-color:rgb(1, 132, 118);
    padding-top:0.5;
    padding-bottom:0.5;
    padding-left:100;
    padding-right:100;
    margin-left:130;
    margin-right:130;
    border-radius:8px;
    position:sticky;
    float:bottom;
    display:flex;
    flex:1;
}
