.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:20%;
    height:100%;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    height:2px;
    margin-left:3px;
    float:left;
}
.game-horizontal img{
    width:auto;
    height:auto;
    border-radius:8px;
}
.game-horizontal {
    margin-top:2px;
}    