body {
    background-color:#1a1a2e;
}
.homepage-header {
    height:5%;
    width:90%;
    float:right;
}
.logo {
    float:left;
    width:110;
    height:80;
    border-radius:8px;
}
.search-bar {
    border-radius:40px;
    height:2px;
    margin-left:3px;
    float:left;
}
.game-horizontal img{
    width:auto;
    height:auto;
    border-radius:20px;
    margin-top:40px;
    margin-left:20px;
    float:left;
}
.game-horizontal {
    margin-top:2px;
}
.game-horizontal img:hover {
    width:400px;
    height:228;
}